#book{
    border: 5Px solid red;
    height: 350px;
    width: 300px;
    background-color: burlywood;
}

button{
    color: white;
    background-color: chocolate;
    height: 30px;
    width: 30px;



}